{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <h1>About</h1>

    <p>This is about page for the BookStore</p>

    <p>Neque minim nostrum tempor quaerat rutrum orci ea, 
        illum nisi sunt? Repellendus hymenaeos molestiae
        sapiente repellendus ornare laboriosam. Ultrices 
        nostra nullam eos vero dolore hendrerit, blanditiis 
        elit dictum. Cumque recusandae porttitor penatibus 
        adipisicing vestibulum felis tempor recusandae 
        montes assumenda ea? Ullam nostra natus ut corporis, 
        iste proin duis diamlorem tempor. Per eveniet cum 
        nostrum mus felis, ullamco beatae sem phasellus? 
        Sapien recusandae omnis voluptate ab integer. 
        Accusamus adipisci imperdiet incidunt, ea aute 
        occaecati tortor tempora a repellat saepe metus 
        optio. Eveniet potenti elit unde officia, exercitationem? 
        Vestibulum? Consequuntur! Felis distinctio venenatis 
        ea nec accusamus senectus doloremque, lacinia 
        adipiscing suscipit tempora.</p>

    <a href="/terms/">Terms & Conditions</a>
{% endblock %}
