{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="row flex-lg-row-reverse align-items-center g-5">
        <div class="col-12 col-sm-8 col-lg-6">
            {% if featured_books %}
                {% include "partials/books_slider.html" with books=featured_books %}
            {% else %}
                <img src="{% static 'img/books.jpg' %}" class="d-block mx-lg-auto img-thumbnail" alt="BookStore" width="600" height="384" loading="lazy">
            {% endif %}            
        </div>

        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
                Welcome to the BookStore!
            </h1>

            <p class="lead">
                Nostra quis molestiae mattis tellus luctus, nobis lacinia veritatis mattis! 
                Ipsam eum dui dolore quis minim consequat vel minus quam proin libero proident 
                velit a natoque nibh posuere? Blanditiis maxime.
            </p>
          
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Join now!</button>
            </div>
        </div>
    </div>

    <h3 class="mt-4">Latest books</h3>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for book in latest_books %}
            <div class="col">
                {% include "books/partials/book_card.html" %}
            </div>
        {% endfor %}
    </div>

    <h3 class="mt-4">Latest reviews</h3>
    <div>
        {% for review in latest_reviews %}
            <div class="mt-2">
                <div>
                    <strong>{{ forloop.counter }}.</strong>
                    <em>{{ review.created_at | date:"DATETIME_FORMAT" }}</em> by
                    <em>{{ review.user.username }}</em> on 
                    <a href="{{ review.book.get_absolute_url }}">{{ review.book.title }}</a>
                </div>
                <p class="ps-3">{{ review.content | truncatewords:15 }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
