{% extends "base.html" %}
{% load static %}

{% block title %}{{ author.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-md-3">
            {% if author.photo %}
                <img class="img-thumbnail" src="{{ author.photo.url }}" alt="{{ author.name }}" />
            {% else %}
                <img class="img-thumbnail" src="{% static 'img/no_image.png' %}" alt="{{ author.name }}" />
            {% endif %}    
        </div>

        <div class="col col-md-9">
            <h1>{{ author.name }}</h1>
            <div>{{ author.bio | linebreaksbr }}</div>
        </div>
    </div>

    <hr >

    <h3>Books by {{ author.name }}:</h3>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
        {% for book in books %}
            <div class="col">
                {% include "books/partials/book_card.html" %}
            </div>
        {% empty %}
            <div class="col col-md-2 col-lg-3">
                <p>No books for this author yet</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
