{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}{{ category.name }} - Books{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-9">
            <h1>{{ category.name }}</h1>
            {% if category.description %}
                <div>{{ category.description | safe }}</div>
            {% endif %}
        </div>
        <div class="col-3">
            {% if category.image %}
                <img src="{{ category.image.url }}" class="img-thumbnail" alt="{{ category.name }}" />
            {% endif %}
        </div>
    </div>

    <div class="mt-1 row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
        {% for book in books %}
            <div class="col">
                {% include "books/partials/book_card.html" %}
            </div>
        {% endfor %}
    </div>

    {% if books.paginator.num_pages > 1 %}
        <div class="mt-4">
            {% bootstrap_pagination books justify_content='center' %}
        </div>
    {% endif %}
{% endblock %}
