{% extends "base.html" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <h1>{{ book.title }}</h1>

    <div>
        <p>
        {% if book.author %}
            <strong>Author</strong>: <a href="{% url 'books_author' book.author.id %}">{{ book.author.name }}</a> <br>
        {% endif %}
        <strong>Publication year</strong>: {{ book.pub_year }}<br>
        <strong>ISBN</strong>: {{ book.isbn }}</p>
    </div>

    <div>
        {{ book.description | linebreaksbr }}
    </div>
{% endblock %}
