{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <h1>{{ book.title }}</h1>

    <div class="row row-cols-1 row-cols-md-3">
        <div class="col col-md-3">
            {% if book.image %}
                <img class="img-thumbnail" src="{{ book.image.url }}" alt="{{ book.title }}" />
            {% else %}
                <img class="img-thumbnail" src="{% static 'img/no_image.png' %}" alt="{{ book.title }}" />
            {% endif %}
        </div>
        <div class="col col-md-9">
            <div>
                <p>
                {% if book.author %}
                    <strong>Author</strong>: <a href="{% url 'books_author' book.author.id %}">{{ book.author.name }}</a> <br>
                {% endif %}
                <strong>Publication year</strong>: {{ book.pub_year }}<br>
                <strong>ISBN</strong>: {{ book.isbn }}</p>
            </div>
        
            <div>
                {{ book.description | linebreaksbr }}
            </div>
        </div>
    </div>

    <h3 class="mt-4">Reviews ({{ book.reviews.count }})</h3>

    {% if request.user.is_authenticated %}
        <div class="mt-4">
            <form action="." method="post">
                {% csrf_token %}

                {% bootstrap_form review_form %}

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    {% endif %}

    {% for review in reviews %}
        <div class="mt-4">
            <h5>{{ review.created_at|date:"DATETIME_FORMAT" }}
                <small class="text-muted">{{ review.user.username }}</small>
            </h5>
            <div>
                {{ review.content }}
            </div>
        </div>
    {% endfor %}

    <div class="mt-4">
        {% bootstrap_pagination reviews justify_content='center' %}
    </div>
{% endblock %}
